.topPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 10px 30px;

  &__leftFlexWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 20px;
  }

  &__addButton {
    width: 200px;
    height: 45px;
    flex-shrink: 2;

    &:global(.MuiButton-root) {
      text-transform: none;
    }
  }
}