.contentInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__title {
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: -5px;
  }
  
  &__useWrapper {
    display: flex;
    gap: 30px;
  }

  &__label {
    font-family: "Arial", serif;
    font-size: 12px;

    &__red {
      color: red;
      font-family: "Arial", serif;
      font-size: 13px;
      font-weight: bold;
    }

    &__green {
      color: lightgreen;
      font-family: "Arial", serif;
      font-size: 13px;
      font-weight: bold;
    }
  }
}