.card {
  position: relative;
  width: 330px;
  height: 195px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.12);

  &:global(.MuiPaper-root) {
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.12);
  }

  &__separator {
    border-color: #f8f8f8;
    width: 87%;
    margin-bottom: 10px;
  }
}