.counterBox {
  position: relative;
  width: 65px;
  height: 26px;
  margin-left: -20px;
  margin-top: -10px;

  &__text {
    padding-left: 6px;
    margin-bottom: 13px;

    &:global(.MuiInputBase-root) {
      font-size: 13px;
      font-family: "Arial", serif;
    }
  }

  &__upBtn {
    position: absolute;
    top: -4px;
    right: 0;
  }

  &__downBtn {
    position: absolute;
    top: 8px;
    right: 0;
  }
}