.cardContent {
  padding: 0 25px 0 20px;

  &__licensesLabel {
    font-family: "Arial", serif;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 15px;
  }

  &__infosWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 34px;
  }
}