.cardHeader {
  display: flex;
  flex-direction: row;
  width: 330px;
  gap: 12px;
  align-items: center;
  font-family: "Arial", serif;
  font-weight: bold;
  padding: 15px 20px 0 15px;

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__label {
    padding-top: 5px;
  }

  &__menuBtn {
    &:global(.MuiIconButton-root) {
      position: absolute;
      left: 286px;
      top: 15px;
    }
  }
}